.seller-treinament-view {
  .img-alt {
    position: absolute;
    bottom: 22px;
    left: 8px;
    background-color: rgba(0, 0, 0, 0.5);
    border-top-right-radius: 12px;
    color: white;
    font-weight: bold;
    padding: 5px 10px 5px 2px;
    border-bottom-right-radius: 12px;
  }
}
