#view-productCategory-page {
  display: flex;
  flex-direction: column;
  width: 100%;

  .avatar-image {
    vertical-align: middle;
    border-radius: 12px;
    max-height: 80px;
    position: absolute;
    left: 24px;
    top: 12px;
  }

  .header-area {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    column-gap: 8px;
  }

  .label {
    font-weight: bold;
    font-size: 1.1em;
  }
}
