#treinaments-page {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;

  .p-chip.custom-chip {
    background: var(--primary-color);
    color: var(--primary-color-text);
    margin-left: 6px;
    line-height: 1.1;
  }

  .questions-area {
    .question {

      .enunciated {
        display: flex;
        flex-direction: column;
        margin-bottom: 24px;

        .text {
          font-weight: bold;
          font-size: 1.1em;
        }

        .limit {
          color: #888;
          font-size: .9em;
        }
      }

      .question-option {
        display: flex;
        align-items: center;

        .content {
          display: flex;
          align-items: center;
          font-weight: 500;
          line-height: 1.3em;
          height: 1.3em;

          .pi {
            font-weight: bold;
            margin-left: 5px;
          }

          .pi-check {
            color: lightgreen;
          }

          .pi-times {
            color: red;
          }
        }
      }
    }
  }


  .add-btn {
    position: absolute;
    z-index: 99;
    transform: translateY(-50%);
    left: 20px;
  }

  .p-paginator {
    justify-content: flex-end;
    padding-right: 0;
  }

  .p-datatable-header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .table-header {
    display: flex;

    .p-button {
      margin-right: 8px;
    }
  }

  table {
    tr {
      th {
        input {
          width: 100%;
        }
      }
    }
  }
}
