:root {
 --logo-path: "https://upload.wikimedia.org/wikipedia/commons/b/b1/Asics_Logo.svg";
  --logo-url: url("https://upload.wikimedia.org/wikipedia/commons/b/b1/Asics_Logo.svg");
  --header-height: 80px;
  --footer-height: 3em;
}

body {
  --primary-color: #000066;
  --secondary-color: #cce4ff;
  --burger-color: white;
  background-color: var(--surface-200);
  margin: 0;
}

.p-shadow-3 {
  box-shadow: 0 3px 3px -2px rgba(0, 0, 0, .2), 0 3px 4px 0 rgba(0, 0, 0, .14), 0 1px 8px 0 rgba(0, 0, 0, .12);
}
